.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: blue;
}

.content {
  background-color: grey;
}
